In [1]:
a=2
print(a)

2

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("data/supermarket_sales.csv")

In [3]:
data.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,01-05-2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.22,03-08-2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,03-03-2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.048,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,02-08-2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [4]:
data.shape

(1000, 17)

In [5]:
data.dtypes

Invoice ID                  object
Branch                      object
City                        object
Customer type               object
Gender                      object
Product line                object
Unit price                 float64
Quantity                     int64
Tax 5%                     float64
Total                       object
Date                        object
Time                        object
Payment                     object
cogs                       float64
gross margin percentage    float64
gross income               float64
Rating                     float64
dtype: object

In [6]:
#Checking for missing values

data.isna().sum()

Invoice ID                 0
Branch                     0
City                       0
Customer type              0
Gender                     0
Product line               0
Unit price                 0
Quantity                   0
Tax 5%                     0
Total                      0
Date                       0
Time                       0
Payment                    0
cogs                       0
gross margin percentage    0
gross income               0
Rating                     0
dtype: int64

In [7]:
data.head(15)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,01-05-2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.22,03-08-2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,03-03-2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.048,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,02-08-2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
5,699-14-3026,C,Naypyitaw,Normal,Male,Electronic accessories,85.39,7,29.8865,627.6165,3/25/2019,18:30,Ewallet,597.73,4.761905,29.8865,4.1
6,355-53-5943,A,Yangon,Member,Female,Electronic accessories,68.84,6,20.6520,433.692,2/25/2019,14:36,Ewallet,413.04,4.761905,20.6520,5.8
7,315-22-5665,C,Naypyitaw,Normal,Female,Home and lifestyle,73.56,10,36.7800,772.38,2/24/2019,11:38,Ewallet,735.60,4.761905,36.7800,8.0
8,665-32-9167,A,Yangon,Member,Female,Health and beauty,36.26,2,3.6260,76.146,01-10-2019,17:15,Credit card,72.52,4.761905,3.6260,7.2
9,692-92-5582,B,Mandalay,Member,Female,Food and beverages,54.84,3,8.2260,172.746,2/20/2019,13:27,Credit card,164.52,4.761905,8.2260,5.9
10,351-62-0822,B,Mandalay,Member,Female,Fashion accessories,14.48,4,2.8960,"""60.816""",02-06-2019,18:07,Ewallet,57.92,4.761905,2.8960,4.5
11,529-56-3974,B,Mandalay,Member,Male,Electronic accessories,25.51,4,5.1020,107.142,03-09-2019,17:03,Cash,102.04,4.761905,5.1020,6.8
12,365-64-0515,A,Yangon,Normal,Female,Electronic accessories,46.95,5,11.7375,246.4875,02-12-2019,10:25,Ewallet,234.75,4.761905,11.7375,7.1
13,252-56-2699,A,Yangon,Normal,Male,Food and beverages,43.19,10,21.5950,453.495,02-07-2019,16:48,Ewallet,431.90,4.761905,21.5950,8.2
14,829-34-3910,A,Yangon,Normal,Female,Health and beauty,71.38,10,35.6900,749.49,3/29/2019,19:21,Cash,713.80,4.761905,35.6900,5.7

In [8]:
#to change Total into integer field, we need to process each and every row of Total.
#either we can use a for loop, lambda function

#Lambda is be better option

In [13]:
data.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,01-05-2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.22,03-08-2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,03-03-2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.048,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,02-08-2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [14]:
#lambda function to replace doubt quotes from Total

data['Total'] = data['Total'].apply(lambda x:x.replace('"',''))

In [15]:
abc = "$12345,00".replace(",",".").replace("$",'')
float(abc)

12345.0

In [16]:
abc = '1,00,000'.replace(",","")
float(abc)

100000.0

In [17]:
data.dtypes

Invoice ID                  object
Branch                      object
City                        object
Customer type               object
Gender                      object
Product line                object
Unit price                 float64
Quantity                     int64
Tax 5%                     float64
Total                       object
Date                        object
Time                        object
Payment                     object
cogs                       float64
gross margin percentage    float64
gross income               float64
Rating                     float64
dtype: object

In [18]:
#astype function is used for type conversion

data['Total']=data['Total'].astype('float64')

In [19]:
data.dtypes

Invoice ID                  object
Branch                      object
City                        object
Customer type               object
Gender                      object
Product line                object
Unit price                 float64
Quantity                     int64
Tax 5%                     float64
Total                      float64
Date                        object
Time                        object
Payment                     object
cogs                       float64
gross margin percentage    float64
gross income               float64
Rating                     float64
dtype: object

Date Cleaning and Managing is done

#### Total number of customer visits

In [20]:
num_cust_visits = data['Invoice ID'].nunique()

print("Total Number of Customer visits:",num_cust_visits)

Total Number of Customer visits: 1000

#### Most visited branch

In [21]:
most_visited_branch = data['Branch'].mode()[0]
print("Most Visited Branch:",most_visited_branch)

Most Visited Branch: A

#### Least visited branch

In [22]:
#Approach 1
least_visited_branch_groupby = data.groupby('Branch').count()['Invoice ID']

#Approach 2
least_visited_branch_valuecounts = data['Branch'].value_counts()

In [23]:
least_visited_branch_valuecounts = least_visited_branch_valuecounts.sort_values(ascending = True)
least_visited_branch = least_visited_branch_valuecounts.index[0]
print("Least Visited Branch:",least_visited_branch)

Least Visited Branch: C

In [24]:
#? to get the help
?least_visited_branch_valuecounts.sort_values

#### City vs Customer Analysis

#### Cutomer Footfall

In [25]:
customer_footfall = data.groupby('City').count()['Invoice ID']
print(customer_footfall)

City
Mandalay     332
Naypyitaw    328
Yangon       340
Name: Invoice ID, dtype: int64

#### Average Spend

In [26]:
average_spend = data.groupby('City').mean()['Total']
average_spend

City
Mandalay     319.872506
Naypyitaw    337.099715
Yangon       312.354031
Name: Total, dtype: float64

#### Income by City

In [27]:
total_income_city = data.groupby('City').sum()['Total']
total_income_city

City
Mandalay     106197.6720
Naypyitaw    110568.7065
Yangon       106200.3705
Name: Total, dtype: float64

#### Customer Ratio based on Customer Type

In [28]:
customer_ratio = (data['Customer type'].value_counts() / data.shape[0])*100
customer_ratio

Member    50.1
Normal    49.9
Name: Customer type, dtype: float64

In [29]:
#we are calculating the normalized count(ratio)
customer_ratio = (data['Customer type'].value_counts(normalize = True))*100
customer_ratio

Member    50.1
Normal    49.9
Name: Customer type, dtype: float64

#### Most Sold Product line?

In [30]:
most_sold_pl = data['Product line'].mode()[0]
print("Most Sold Product Line : ",most_sold_pl)

Most Sold Product Line :  Fashion accessories

#### Costiest Product in the Shop

In [31]:
prod_line = data.groupby('Product line').max()['Unit price'].sort_values(ascending = False).index[0]
cost = data.groupby('Product line').max()['Unit price'].sort_values(ascending = False)[0]

print("Costiest Product Line:",prod_line," and Cost:",cost)

Costiest Product Line: Sports and travel  and Cost: 99.96

#### Cheapest Product in the Shop

In [32]:
prod_line = data.groupby('Product line').min()['Unit price'].sort_values(ascending = True).index[0]
cost = data.groupby('Product line').min()['Unit price'].sort_values(ascending = True)[0]

print("Costiest Product Line:",prod_line," and Cost:",cost)

Costiest Product Line: Health and beauty  and Cost: 10.08

#### Total Gross income

In [34]:
gross_income = data['Total'].sum()

print("Total Gross Income : ",gross_income)

Total Gross Income :  322966.749

#### Total Gross Income per Branch?

In [36]:
gross_income_perbranch = data.groupby("Branch").sum()['Total']

print(gross_income_perbranch)

Branch
A    106200.3705
B    106197.6720
C    110568.7065
Name: Total, dtype: float64

#### Total Gross Income by Customer Type?

In [37]:
gross_income_per_customer = data.groupby("Customer type").sum()['Total']

print(gross_income_per_customer)

Customer type
Member    164223.444
Normal    158743.305
Name: Total, dtype: float64

#### Total gross income by Payment type

In [38]:
gross_income_per_payment_type = data.groupby("Payment").sum()['Total']

print(gross_income_per_payment_type)

Payment
Cash           112206.570
Credit card    100767.072
Ewallet        109993.107
Name: Total, dtype: float64

#### Total Margin

In [39]:
total_margin = data['gross income'].sum()
print("Total Gross Income : ",total_margin)

Total Gross Income :  15379.368999999999

#### convert the gross income into rupees for every invoice ID

In [40]:
#1 Myanmar Kyat = 0.056 Indian Rupee
#create a new column as [gross income (INR)]

data['gross income_INR']=data['gross income'].apply(lambda x : x*0.056)